In [1]:
from collections import OrderedDict, defaultdict, Counter
import pandas as pd
import csv
from nltk.tokenize import TweetTokenizer
from sklearn.feature_extraction.text import CountVectorizer

In [15]:
df=pd.read_csv('tweetdata.csv')
df.drop(columns =['id', 'Unnamed: 0', 'score'],axis=1, inplace=True)

In [16]:
df.head()

                                               tweet  label
0  At the point today where if someone says somet...  anger
1  @CorningFootball  IT'S GAME DAY!!!!      T MIN...  anger
2  This game has pissed me off more than any othe...  anger
3  @spamvicious I've just found out it's Candice ...  anger
4  @moocowward @mrsajhargreaves @Melly77 @GaryBar...  anger

In [17]:
tweets = df['tweet']

In [18]:
wordList = defaultdict(list)
emotionList = defaultdict(list)
with open('NRC-Emotion-Lexicon-Wordlevel-v0.92.txt', 'r') as f:
    reader = csv.reader(f, delimiter='\t')
    headerRows = [i for i in range(0, 46)]
    for row in headerRows:
        next(reader)
    for word, emotion, present in reader:
        if int(present) == 1:
            #print(word)
            wordList[word].append(emotion)
            emotionList[emotion].append(word)

In [19]:
tt = TweetTokenizer()

In [20]:
def generate_emotion_count(string, tokenizer):
    emoCount = Counter()
    for token in tt.tokenize(string):
        token = token.lower()
        emoCount += Counter(wordList[token])
    return emoCount

In [21]:
emotionCounts = [generate_emotion_count(tweet, tt) for tweet in tweets]

In [22]:
emotion_df = pd.DataFrame(emotionCounts, index=tweets.index)
emotion_df = emotion_df.fillna(0)

In [32]:
emotion_df.head()

,joy,positive,trust,anticipation,anger,negative,sadness,surprise,fear,disgust
0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
convert_dict = {'joy': int, 
                'positive': int,
                'trust':int,
                'anticipation':int,
                'anger':int,
                'negative':int,
                'sadness':int,
                'surprise':int,
                'fear':int,
                'disgust':int}

In [34]:
emotion_df=emotion_df.astype(convert_dict)

In [36]:
emotion_df.head(20)

,joy,positive,trust,anticipation,anger,negative,sadness,surprise,fear,disgust
0,1,1,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0
3,1,1,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0
6,0,1,0,0,1,1,0,0,0,0
7,1,1,0,1,0,1,1,0,0,0
8,1,1,0,1,0,1,1,0,0,0
9,1,1,1,0,0,1,1,1,0,0
10,0,0,0,1,2,2,1,0,1,0
11,0,0,0,0,1,1,0,0,0,1
12,2,2,1,1,1,2,1,1,2,2
13,0,1,1,1,2,3,2,0,3,2
14,0,1,1,1,2,3,2,0,3,2
15,0,0,0,0,1,1,0,0,1,0
16,1,1,0,0,0,1,1,0,0,0
17,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,1,1,0,0,1,0
19,0,0,0,0,2,2,2,1,3,2